@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,900;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
.tick line{
    stroke: #c0c0bb;
}

.tick text{
    fill:#635f5d;
}

.mark {
    fill: #137B80;
}

.axis-label {
    font-size: 2.5em;
    fill:#635f5d;
}